# Exploring US 2020 Census data

From https://www.kaggle.com/zusmani/us-census-2020# \
Doc's https://www2.census.gov/programs-surveys/decennial/2020/technical-documentation/complete-tech-docs/summary-file/2020Census_PL94_171Redistricting_StatesTechDoc_English.pdf

In [1]:
# Imports
import pandas as pd

## Column labels

FILEID File Identification
STUSAB State/US-Abbreviation (USPS)
SUMLEV Summary Level
GEOVAR Geographic Variant
GEOCOMP Geographic Component
CHARITER Characteristic Iteration
CIFSN Characteristic Iteration File Sequence Number
LOGRECNO Logical Record Number
GEOID Geographic Record Identifier
GEOCODE Geographic Code Identifier
REGION Region
DIVISION Division
STATE State (FIPS)
STATENS State (NS)
COUNTY County (FIPS)
COUNTYCC FIPS County Class Code
COUNTYNS County (NS)
COUSUB County Subdivision (FIPS)
COUSUBCC FIPS County Subdivision Class Code
COUSUBNS County Subdivision (NS)
SUBMCD Subminor Civil Division (FIPS)
SUBMCDCC FIPS Subminor Civil Division Class Code
SUBMCDNS Subminor Civil Division (NS)
ESTATE Estate (FIPS)
ESTATECC FIPS Estate Class Code
ESTATENS Estate (NS)
CONCIT Consolidated City (FIPS)
CONCITCC FIPS Consolidated City Class Code
CONCITNS Consolidated City (NS)
PLACE Place (FIPS)
PLACECC FIPS Place Class Code
PLACENS Place (NS)
TRACT Census Tract
BLKGRP Block Group
BLOCK Block
AIANHH American Indian Area/Alaska Native Area/Hawaiian Home Land (Census)
AIHHTLI American Indian Trust Land/Hawaiian Home Land Indicator
AIANHHFP American Indian Area/Alaska Native Area/Hawaiian Home Land (FIPS)
AIANHHCC FIPS American Indian Area/Alaska Native Area/Hawaiian Home Land Class Code
AIANHHNS American Indian Area/Alaska Native Area/Hawaiian Home Land (NS)
AITS American Indian Tribal Subdivision (Census)
AITSFP American Indian Tribal Subdivision (FIPS)
AITSCC FIPS American Indian Tribal Subdivision Class Code
AITSNS American Indian Tribal Subdivision (NS)
TTRACT Tribal Census Tract
TBLKGRP Tribal Block Group
ANRC Alaska Native Regional Corporation (FIPS)
ANRCCC FIPS Alaska Native Regional Corporation Class Code
ANRCNS Alaska Native Regional Corporation (NS)
CBSA Metropolitan Statistical Area/Micropolitan Statistical Area
MEMI Metropolitan/Micropolitan Indicator
CSA Combined Statistical Area
METDIV Metropolitan Division
NECTA New England City and Town Area
NMEMI NECTA Metropolitan/Micropolitan Indicator
CNECTA Combined New England City and Town Area
NECTADIV New England City and Town Area Division
CBSAPCI Metropolitan Statistical Area/Micropolitan Statistical Area Principal City Indicator
NECTAPCI New England City and Town Area Principal City Indicator
UA Urban Area
UATYPE Urban Area Type
UR Urban/Rural
CD116 Congressional District (116th)
CD118 Congressional District (118th)
CD119 Congressional District (119th)
CD120 Congressional District (120th)
CD121 Congressional District (121st)
SLDU18 State Legislative District (Upper Chamber) (2018)
SLDU22 State Legislative District (Upper Chamber) (2022)
SLDU24 State Legislative District (Upper Chamber) (2024)
SLDU26 State Legislative District (Upper Chamber) (2026)
SLDU28 State Legislative District (Upper Chamber) (2028)
SLDL18 State Legislative District (Lower Chamber) (2018)
SLDL22 State Legislative District (Lower Chamber) (2022)
SLDL24 State Legislative District (Lower Chamber) (2024)
SLDL26 State Legislative District (Lower Chamber) (2026)
SLDL28 State Legislative District (Lower Chamber) (2028)
VTD Voting District
VTDI Voting District Indicator
ZCTA ZIP Code Tabulation Area (5-Digit)
SDELM School District (Elementary)
SDSEC School District (Secondary)
SDUNI School District (Unified)
PUMA Public Use Microdata Area
AREALAND Area (Land)
AREAWATR Area (Water)
BASENAME Area Base Name
NAME Area Name-Legal/Statistical Area Description (LSAD) Term-Part Indicator
FUNCSTAT Functional Status Code
GCUNI Geographic Change User Note Indicator
POP100 Population Count (100%)
HU100 Housing Unit Count (100%)
INTPTLAT Internal Point (Latitude)
INTPTLON Internal Point (Longitude)
LSADC Legal/Statistical Area Description Code
PARTFLAG Part Flag
UGA Urban Growth Area
FILEID File Identification
STUSAB State/US-Abbreviation (USPS)
CHARITER Characteristic Iteration
CIFSN Characteristic Iteration File Sequence Number
LOGRECNO Logical Record Number
P0010001 Total:
P0010002 Population of one race:
P0010003 White alone
P0010004 Black or African American alone
P0010005 American Indian and Alaska Native alone
P0010006 Asian alone
P0010007 Native Hawaiian and Other Pacific Islander alone
P0010008 Some Other Race alone
P0010009 Population of two or more races:
P0010010 Population of two races:
P0010011 White; Black or African American
P0010012 White; American Indian and Alaska Native
P0010013 White; Asian
P0010014 White; Native Hawaiian and Other Pacific Islander
P0010015 White; Some Other Race
P0010016 Black or African American; American Indian and Alaska Native
P0010017 Black or African American; Asian
P0010018 Black or African American; Native Hawaiian and Other Pacific Islander
P0010019 Black or African American; Some Other Race
P0010020 American Indian and Alaska Native; Asian
P0010021 American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0010022 American Indian and Alaska Native; Some Other Race
P0010023 Asian; Native Hawaiian and Other Pacific Islander
P0010024 Asian; Some Other Race
P0010025 Native Hawaiian and Other Pacific Islander; Some Other Race
P0010026 Population of three races:
P0010027 White; Black or African American; American Indian and Alaska Native
P0010028 White; Black or African American; Asian
P0010029 White; Black or African American; Native Hawaiian and Other Pacific Islander
P0010030 White; Black or African American; Some Other Race
P0010031 White; American Indian and Alaska Native; Asian
P0010032 White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0010033 White; American Indian and Alaska Native; Some Other Race
P0010034 White; Asian; Native Hawaiian and Other Pacific Islander
P0010035 White; Asian; Some Other Race
P0010036 White; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010037 Black or African American; American Indian and Alaska Native; Asian
P0010038 Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0010039 Black or African American; American Indian and Alaska Native; Some Other Race
P0010040 Black or African American; Asian; Native Hawaiian and Other Pacific Islander
P0010041 Black or African American; Asian; Some Other Race
P0010042 Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010043 American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0010044 American Indian and Alaska Native; Asian; Some Other Race
P0010045 American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010046 Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010047 Population of four races:
P0010048 White; Black or African American; American Indian and Alaska Native; Asian
P0010049 White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0010050 White; Black or African American; American Indian and Alaska Native; Some Other Race
P0010051 White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander
P0010052 White; Black or African American; Asian; Some Other Race
P0010053 White; Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010054 White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0010055 White; American Indian and Alaska Native; Asian; Some Other Race
P0010056 White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010057 White; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010058 Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0010059 Black or African American; American Indian and Alaska Native; Asian; Some Other Race
P0010060 Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010061 Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010062 American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010063 Population of five races:
P0010064 White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0010065 White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race
P0010066 White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010067 White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010068 White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010069 Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0010070 Population of six races:
P0010071 White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020001 Total:
P0020002 Hispanic or Latino
P0020003 Not Hispanic or Latino:
P0020004 Population of one race:
P0020005 White alone
P0020006 Black or African American alone
P0020007 American Indian and Alaska Native alone
P0020008 Asian alone
P0020009 Native Hawaiian and Other Pacific Islander alone
P0020010 Some Other Race alone
P0020011 Population of two or more races:
P0020012 Population of two races:
P0020013 White; Black or African American
P0020014 White; American Indian and Alaska Native
P0020015 White; Asian
P0020016 White; Native Hawaiian and Other Pacific Islander
P0020017 White; Some Other Race
P0020018 Black or African American; American Indian and Alaska Native
P0020019 Black or African American; Asian
P0020020 Black or African American; Native Hawaiian and Other Pacific Islander
P0020021 Black or African American; Some Other Race
P0020022 American Indian and Alaska Native; Asian
P0020023 American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0020024 American Indian and Alaska Native; Some Other Race
P0020025 Asian; Native Hawaiian and Other Pacific Islander
P0020026 Asian; Some Other Race
P0020027 Native Hawaiian and Other Pacific Islander; Some Other Race
P0020028 Population of three races:
P0020029 White; Black or African American; American Indian and Alaska Native
P0020030 White; Black or African American; Asian
P0020031 White; Black or African American; Native Hawaiian and Other Pacific Islander
P0020032 White; Black or African American; Some Other Race
P0020033 White; American Indian and Alaska Native; Asian
P0020034 White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0020035 White; American Indian and Alaska Native; Some Other Race
P0020036 White; Asian; Native Hawaiian and Other Pacific Islander
P0020037 White; Asian; Some Other Race
P0020038 White; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020039 Black or African American; American Indian and Alaska Native; Asian
P0020040 Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0020041 Black or African American; American Indian and Alaska Native; Some Other Race
P0020042 Black or African American; Asian; Native Hawaiian and Other Pacific Islander
P0020043 Black or African American; Asian; Some Other Race
P0020044 Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020045 American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0020046 American Indian and Alaska Native; Asian; Some Other Race
P0020047 American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020048 Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020049 Population of four races:
P0020050 White; Black or African American; American Indian and Alaska Native; Asian
P0020051 White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0020052 White; Black or African American; American Indian and Alaska Native; Some Other Race
P0020053 White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander
P0020054 White; Black or African American; Asian; Some Other Race
P0020055 White; Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020056 White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0020057 White; American Indian and Alaska Native; Asian; Some Other Race
P0020058 White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020059 White; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020060 Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0020061 Black or African American; American Indian and Alaska Native; Asian; Some Other Race
P0020062 Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020063 Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020064 American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020065 Population of five races:
P0020066 White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0020067 White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race
P0020068 White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020069 White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020070 White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020071 Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
P0020072 Population of six races:
P0020073 White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
FILEID File Identification
STUSAB State/US-Abbreviation (USPS)
CHARITER Characteristic Iteration
CIFSN Characteristic Iteration File Sequence Number
LOGRECNO Logical Record Number
P0030001 P3-1: Total
P0030002 P3-2: Population of one race
P0030003 P3-3: White alone
P0030004 P3-4: Black or African American alone
P0030005 P3-5: American Indian and Alaska Native alone
P0030006 P3-6: Asian alone
P0030007 P3-7: Native Hawaiian and Other Pacific Islander alone
P0030008 P3-8: Some other race alone
P0030009 P3-9: Population of two or more races
P0030010 P3-10: Population of two races
P0030011 P3-11: White; Black or African American
P0030012 P3-12: White; American Indian and Alaska Native
P0030013 P3-13: White; Asian
P0030014 P3-14: White; Native Hawaiian and Other Pacific Islander
P0030015 P3-15: White; Some other race
P0030016 P3-16: Black or African American; American Indian and Alaska Native
P0030017 P3-17: Black or African American; Asian
P0030018 P3-18: Black or African American; Native Hawaiian and Other Pacific Islander
P0030019 P3-19: Black or African American; Some other race
P0030020 P3-20: American Indian and Alaska Native; Asian
P0030021 P3-21: American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0030022 P3-22: American Indian and Alaska Native; Some other race
P0030023 P3-23: Asian; Native Hawaiian and Other Pacific Islander
P0030024 P3-24: Asian; Some other race
P0030025 P3-25: Native Hawaiian and Other Pacific Islander; Some other race
P0030026 P3-26: Population of three races
P0030027 P3-27: White; Black or African American; American Indian and Alaska Native
P0030028 P3-28: White; Black or African American; Asian
P0030029 P3-29: White; Black or African American; Native Hawaiian and Other Pacific Islander
P0030030 P3-30: White; Black or African American; Some other race
P0030031 P3-31: White; American Indian and Alaska Native; Asian
P0030032 P3-32: White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0030033 P3-33: White; American Indian and Alaska Native; Some other race
P0030034 P3-34: White; Asian; Native Hawaiian and Other Pacific Islander
P0030035 P3-35: White; Asian; Some other race
P0030036 P3-36: White; Native Hawaiian and Other Pacific Islander; Some other race
P0030037 P3-37: Black or African American; American Indian and Alaska Native; Asian
P0030038 P3-38: Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0030039 P3-39: Black or African American; American Indian and Alaska Native; Some other race
P0030040 P3-40: Black or African American; Asian; Native Hawaiian and Other Pacific Islander
P0030041 P3-41: Black or African American; Asian; Some other race
P0030042 P3-42: Black or African American; Native Hawaiian and Other Pacific Islander; Some other race
P0030043 P3-43: American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0030044 P3-44: American Indian and Alaska Native; Asian; Some other race
P0030045 P3-45: American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some other race
P0030046 P3-46: Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0030047 P3-47: Population of four races
P0030048 P3-48: White; Black or African American; American Indian and Alaska Native; Asian
P0030049 P3-49: White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0030050 P3-50: White; Black or African American; American Indian and Alaska Native; Some other race
P0030051 P3-51: White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander
P0030052 P3-52: White; Black or African American; Asian; Some other race
P0030053 P3-53: White; Black or African American; Native Hawaiian and Other Pacific Islander; Some other race
P0030054 P3-54: White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0030055 P3-55: White; American Indian and Alaska Native; Asian; Some other race
P0030056 P3-56: White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some other race
P0030057 P3-57: White; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0030058 P3-58: Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0030059 P3-59: Black or African American; American Indian and Alaska Native; Asian; Some other race
P0030060 P3-60: Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some other race
P0030061 P3-61: Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0030062 P3-62: American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0030063 P3-63: Population of five races
P0030064 P3-64: White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0030065 P3-65: White; Black or African American; American Indian and Alaska Native; Asian; Some other race
P0030066 P3-66: White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some other race
P0030067 P3-67: White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0030068 P3-68: White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0030069 P3-69: Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0030070 P3-70: Population of six races
P0030071 P3-71: White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0040001 P4-1: Total
P0040002 P4-2: Hispanic or Latino
P0040003 P4-3: Not Hispanic or Latino
P0040004 P4-4: Population of one race
P0040005 P4-5: White alone
P0040006 P4-6: Black or African American alone
P0040007 P4-7: American Indian and Alaska Native alone
P0040008 P4-8: Asian alone
P0040009 P4-9: Native Hawaiian and Other Pacific Islander alone
P0040010 P4-10: Some other race alone
P0040011 P4-11: Population of two or more races
P0040012 P4-12: Population of two races
P0040013 P4-13: White; Black or African American
P0040014 P4-14: White; American Indian and Alaska Native
P0040015 P4-15: White; Asian
P0040016 P4-16: White; Native Hawaiian and Other Pacific Islander
P0040017 P4-17: White; Some other race
P0040018 P4-18: Black or African American; American Indian and Alaska Native
P0040019 P4-19: Black or African American; Asian
P0040020 P4-20: Black or African American; Native Hawaiian and Other Pacific Islander
P0040021 P4-21: Black or African American; Some other race
P0040022 P4-22: American Indian and Alaska Native; Asian
P0040023 P4-23: American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0040024 P4-24: American Indian and Alaska Native; Some other race
P0040025 P4-25: Asian; Native Hawaiian and Other Pacific Islander
P0040026 P4-26: Asian; Some other race
P0040027 P4-27: Native Hawaiian and Other Pacific Islander; Some other race
P0040028 P4-28: Population of three races
P0040029 P4-29: White; Black or African American; American Indian and Alaska Native
P0040030 P4-30: White; Black or African American; Asian
P0040031 P4-31: White; Black or African American; Native Hawaiian and Other Pacific Islander
P0040032 P4-32: White; Black or African American; Some other race
P0040033 P4-33: White; American Indian and Alaska Native; Asian
P0040034 P4-34: White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0040035 P4-35: White; American Indian and Alaska Native; Some other race
P0040036 P4-36: White; Asian; Native Hawaiian and Other Pacific Islander
P0040037 P4-37: White; Asian; Some other race
P0040038 P4-38: White; Native Hawaiian and Other Pacific Islander; Some other race
P0040039 P4-39: Black or African American; American Indian and Alaska Native; Asian
P0040040 P4-40: Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0040041 P4-41: Black or African American; American Indian and Alaska Native; Some other race
P0040042 P4-42: Black or African American; Asian; Native Hawaiian and Other Pacific Islander
P0040043 P4-43: Black or African American; Asian; Some other race
P0040044 P4-44: Black or African American; Native Hawaiian and Other Pacific Islander; Some other race
P0040045 P4-45: American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0040046 P4-46: American Indian and Alaska Native; Asian; Some other race
P0040047 P4-47: American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some other race
P0040048 P4-48: Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0040049 P4-49: Population of four races
P0040050 P4-50: White; Black or African American; American Indian and Alaska Native; Asian
P0040051 P4-51: White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
P0040052 P4-52: White; Black or African American; American Indian and Alaska Native; Some other race
P0040053 P4-53: White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander
P0040054 P4-54: White; Black or African American; Asian; Some other race
P0040055 P4-55: White; Black or African American; Native Hawaiian and Other Pacific Islander; Some other race
P0040056 P4-56: White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0040057 P4-57: White; American Indian and Alaska Native; Asian; Some other race
P0040058 P4-58: White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some other race
P0040059 P4-59: White; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0040060 P4-60: Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0040061 P4-61: Black or African American; American Indian and Alaska Native; Asian; Some other race
P0040062 P4-62: Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some other race
P0040063 P4-63: Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0040064 P4-64: American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0040065 P4-65: Population of five races
P0040066 P4-66: White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
P0040067 P4-67: White; Black or African American; American Indian and Alaska Native; Asian; Some other race
P0040068 P4-68: White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some other race
P0040069 P4-69: White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0040070 P4-70: White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0040071 P4-71: Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some other race
P0040072 P4-72: Population of six races
P0040073 P4-73: White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some other race
H0010001 H1-1: Total
H0010002 H1-2: Occupied
H0010003 H1-3: Vacant
FILEID File Identification
STUSAB State/US-Abbreviation (USPS)
CHARITER Characteristic Iteration
CIFSN Characteristic Iteration File Sequence Number
LOGRECNO Logical Record Number
P0050001 Total:
P0050002 Institutionalized population:
P0050003 Correctional facilities for adults
P0050004 Juvenile facilities
P0050005 Nursing facilities/Skilled-nursing facilities
P0050006 Other institutional facilities
P0050007 Noninstitutionalized population:
P0050008 College/University student housing
P0050009 Military quarters
P0050010 Other noninstitutional facilities

## State data

In [2]:
# Import state data
alaska = pd.read_csv('Alaska_AK.csv')
alaska.head(2)

/Users/lorenzo/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,9,18,30,36,38,44,45,47,57,58,67,77,78,86,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN_x,LOGRECNO,GEOID,GEOCODE,...,P0050001,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010
0,PLST,AK,50,0,0,0,0,2,0500000US02013,02013,...,2200,0,0,0,0,0,2200,0,0,2200
1,PLST,AK,50,0,0,0,0,3,0500000US02016,02016,...,2903,0,0,0,0,0,2903,0,232,2671

In [3]:
# Drop columns 
end_drop = alaska.iloc[:, 108:]
alaska_dropped = alaska.drop(end_drop, axis= 1)
alaska_dropped = alaska_dropped.drop('FILEID', axis= 1)
alaska_dropped = alaska_dropped.drop(alaska_dropped.iloc[:, 1:9], axis= 1)
alaska_dropped.head(2)

,STUSAB,REGION,DIVISION,STATE,STATENS,COUNTY,COUNTYCC,COUNTYNS,COUSUB,COUSUBCC,...,P0010001,P0010002,P0010003,P0010004,P0010005,P0010006,P0010007,P0010008,P0010009,P0010010
0,AK,4,9,2,1785533,13.0,H1,1419964.0,NaN,NaN,...,3420,3212,684,297,802,771,32,626,208,170
1,AK,4,9,2,1785533,16.0,H5,1419965.0,NaN,NaN,...,5232,4858,1667,259,728,1513,239,452,374,339

In [4]:
beg_drop = alaska.iloc[:, 2:9]
other_drop = alaska.drop(['FILEID', 'SUMLEV'], axis= 1)
beg_drop

       SUMLEV GEOVAR  GEOCOMP  CHARITER  CIFSN_x  LOGRECNO             GEOID
0          50      0        0         0        0         2    0500000US02013
1          50      0        0         0        0         3    0500000US02016
2          50      0        0         0        0         4    0500000US02020
3          50      0        0         0        0         5    0500000US02050
4          50      0        0         0        0         6    0500000US02060
...       ...    ...      ...       ...      ...       ...               ...
45025     970      0        0         0        0     45027  9700000US0200780
45026     970      0        0         0        0     45028  9700000US0200800
45027     970      0        0         0        0     45029  9700000US0200810
45028     970      0        0         0        0     45030  9700000US0200840
45029     970      0        0         0        0     45031  9700000US0200862

[45030 rows x 7 columns]

In [5]:
# Relabel columns
alaska_relabeled = alaska_dropped.rename(columns= {'STUSAB':'State', }, )
alaska_relabeled

,State,REGION,DIVISION,STATE,STATENS,COUNTY,COUNTYCC,COUNTYNS,COUSUB,COUSUBCC,...,P0010001,P0010002,P0010003,P0010004,P0010005,P0010006,P0010007,P0010008,P0010009,P0010010
0,AK,4,9,2,1785533,13.0,H1,1419964.0,NaN,NaN,...,3420,3212,684,297,802,771,32,626,208,170
1,AK,4,9,2,1785533,16.0,H5,1419965.0,NaN,NaN,...,5232,4858,1667,259,728,1513,239,452,374,339
2,AK,4,9,2,1785533,20.0,H6,1416061.0,NaN,NaN,...,291247,250445,164446,14576,23661,27646,10001,10115,40802,36666
3,AK,4,9,2,1785533,50.0,H5,1419966.0,NaN,NaN,...,18666,17650,1665,85,15632,202,2,64,1016,958
4,AK,4,9,2,1785533,60.0,H1,1419967.0,NaN,NaN,...,844,701,370,6,305,5,3,12,143,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45025,AK,4,9,2,1785533,NaN,NaN,NaN,NaN,NaN,...,3985,3573,3015,33,309,103,31,82,412,389
45026,AK,4,9,2,1785533,NaN,NaN,NaN,NaN,NaN,...,508,459,251,6,121,54,24,3,49,40
45027,AK,4,9,2,1785533,NaN,NaN,NaN,NaN,NaN,...,2127,1789,1352,0,380,25,2,30,338,281
45028,AK,4,9,2,1785533,NaN,NaN,NaN,NaN,NaN,...,662,544,249,4,255,32,1,3,118,97
45029,AK,4,9,2,1785533,NaN,NaN,NaN,NaN,NaN,...,1981,1843,434,3,1394,4,0,8,138,126

In [6]:
alaska_relabeled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45030 entries, 0 to 45029
Data columns (total 99 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   State     45030 non-null  object
 1   REGION    45030 non-null  int64
 2   DIVISION  45030 non-null  int64
 3   STATE     45030 non-null  int64
 4   STATENS   45030 non-null  int64
 5   COUNTY    40643 non-null  float64
 6   COUNTYCC  40643 non-null  object
 7   COUNTYNS  40643 non-null  float64
 8   COUSUB    32918 non-null  float64
 9   COUSUBCC  32918 non-null  object
 10  COUSUBNS  32918 non-null  float64
 11  SUBMCD    0 non-null      float64
 12  SUBMCDCC  0 non-null      float64
 13  SUBMCDNS  0 non-null      float64
 14  ESTATE    0 non-null      float64
 15  ESTATECC  0 non-null      float64
 16  ESTATENS  0 non-null      float64
 17  CONCIT    28568 non-null  float64
 18  CONCITCC  28568 non-null  float64
 19  CONCITNS  28568 non-null  float64
 20  PLACE     36145 non-null  float64
 21  PLACECC   36145 non-null  object
 22  PLACENS   36145 non-null  float64
 23  TRACT     33492 non-null  float64
 24  BLKGRP    30674 non-null  float64
 25  BLOCK     28568 non-null  float64
 26  AIANHH    30458 non-null  float64
 27  AIHHTLI   30458 non-null  object
 28  AIANHHFP  30458 non-null  float64
 29  AIANHHCC  30458 non-null  object
 30  AIANHHNS  30458 non-null  float64
 31  AITS      28568 non-null  float64
 32  AITSFP    28568 non-null  float64
 33  AITSCC    28568 non-null  float64
 34  AITSNS    28568 non-null  float64
 35  TTRACT    28568 non-null  object
 36  TBLKGRP   28568 non-null  object
 37  ANRC      29167 non-null  float64
 38  ANRCCC    29167 non-null  object
 39  ANRCNS    29167 non-null  float64
 40  CBSA      40643 non-null  float64
 41  MEMI      40643 non-null  float64
 42  CSA       40643 non-null  float64
 43  METDIV    40643 non-null  float64
 44  NECTA     32918 non-null  float64
 45  NMEMI     32918 non-null  float64
 46  CNECTA    32918 non-null  float64
 47  NECTADIV  32918 non-null  float64
 48  CBSAPCI   36145 non-null  object
 49  NECTAPCI  36145 non-null  object
 50  UA        0 non-null      float64
 51  UATYPE    0 non-null      float64
 52  UR        0 non-null      float64
 53  CD116     29831 non-null  float64
 54  CD118     0 non-null      float64
 55  CD119     0 non-null      float64
 56  CD120     0 non-null      float64
 57  CD121     0 non-null      float64
 58  SLDU18    30619 non-null  object
 59  SLDU22    0 non-null      float64
 60  SLDU24    0 non-null      float64
 61  SLDU26    0 non-null      float64
 62  SLDU28    0 non-null      float64
 63  SLDL18    30881 non-null  float64
 64  SLDL22    0 non-null      float64
 65  SLDL24    0 non-null      float64
 66  SLDL26    0 non-null      float64
 67  SLDL28    0 non-null      float64
 68  VTD       37902 non-null  object
 69  VTDI      37902 non-null  object
 70  ZCTA      0 non-null      float64
 71  SDELM     29085 non-null  float64
 72  SDSEC     29085 non-null  float64
 73  SDUNI     29338 non-null  float64
 74  PUMA      0 non-null      float64
 75  AREALAND  45030 non-null  int64
 76  AREAWATR  45030 non-null  int64
 77  BASENAME  45030 non-null  object
 78  NAME      45030 non-null  object
 79  FUNCSTAT  45030 non-null  object
 80  GCUNI     0 non-null      float64
 81  POP100    45030 non-null  int64
 82  HU100     45030 non-null  int64
 83  INTPTLAT  45030 non-null  float64
 84  INTPTLON  45030 non-null  float64
 85  LSADC     45030 non-null  object
 86  PARTFLAG  14777 non-null  object
 87  UGA       28568 non-null  float64
 88  CIFSN_y   45030 non-null  int64
 89  P0010001  45030 non-null  int64
 90  P0010002  45030 non-null  int64
 91  P0010003  45030 non-null  int64
 92  P0010004  45030 non-null  int64
 93  P0010005  45030 non-null  int64
 94  P0010006  45030 non-null  int64
 95  P0010007  45030 non-null  int64
 96  P0010008  45030 non-null  int64
 97  P0010009  45030 non-null  int64
 98  P0010010  45030 non-null  int64
dtypes: float64(61), int64(19), object(19)
memory usage: 34.0+ MB

In [8]:
alaska_relabeled.describe()

,REGION,DIVISION,STATE,STATENS,COUNTY,COUNTYNS,COUSUB,COUSUBNS,SUBMCD,SUBMCDCC,...,P0010001,P0010002,P0010003,P0010004,P0010005,P0010006,P0010007,P0010008,P0010009,P0010010
count,45030.0,45030.0,45030.0,45030.0,40643.000000,4.064300e+04,32918.000000,3.291800e+04,0.0,0.0,...,45030.000000,45030.000000,45030.000000,45030.000000,45030.000000,45030.000000,45030.000000,45030.000000,45030.000000,45030.000000
mean,4.0,9.0,2.0,1785533.0,124.363211,1.528295e+06,36650.488669,1.940483e+06,NaN,NaN,...,925.489762,813.510504,548.194870,26.692583,146.419654,54.100000,15.464934,22.638463,111.979258,101.674151
std,0.0,0.0,0.0,0.0,78.289442,3.515032e+05,22618.726270,1.804308e+04,NaN,NaN,...,8634.746344,7533.108689,5226.524641,329.945368,1202.993621,627.347632,211.936234,244.772723,1107.369911,1002.329549
min,4.0,9.0,2.0,1785533.0,13.000000,1.416061e+06,1598.000000,1.939927e+06,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.0,9.0,2.0,1785533.0,63.000000,1.419968e+06,18765.000000,1.939937e+06,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.0,9.0,2.0,1785533.0,122.000000,1.419974e+06,39010.000000,1.939946e+06,NaN,NaN,...,15.000000,12.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,4.0,9.0,2.0,1785533.0,180.000000,1.419980e+06,47440.000000,1.939955e+06,NaN,NaN,...,212.000000,192.000000,57.000000,1.000000,49.000000,2.000000,0.000000,2.000000,15.000000,14.000000
max,4.0,9.0,2.0,1785533.0,290.000000,2.804401e+06,86690.000000,2.548100e+06,NaN,NaN,...,733391.000000,643867.000000,435392.000000,21898.000000,111575.000000,44032.000000,12698.000000,18272.000000,89524.000000,81221.000000