In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load csv
catalogue = pd.read_csv('cdli-catalogue.csv')
catalogue.head()

/Users/lorenzo/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,9,22,23,24,25,28,29,52,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,accession_no,accounting_period,acquisition_history,alternative_years,ark_number,atf_source,atf_up,author,author_remarks,cdli_collation,...,seal_id,seal_information,stratigraphic_level,subgenre,subgenre_remarks,surface_preservation,text_remarks,thickness,translation_source,width
0,NaN,NaN,NaN,NaN,21198/zz001q0dtm,"Englund, Robert K.",NaN,CDLI,"31x61x18; Lú A 14-16.30-32.48-50; M XVIII, auf...",NaN,...,,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,18,NaN,61
1,NaN,NaN,NaN,NaN,21198/zz001q0dv4,"Englund, Robert K.",NaN,CDLI,30x48x13; Lú A 13-15.23-25.?; Fundstelle wie W...,NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,13,NaN,48
2,NaN,NaN,NaN,NaN,21198/zz001q0dwn,"Englund, Robert K.",NaN,"Englund, Robert K. & Nissen, Hans J.","42x53x19; Vocabulary 9; Qa XVI,2, unter der Ab...",NaN,...,NaN,NaN,NaN,witness Archaic Vocabulary,Text category: 15-09; Foreign ID: LVO 9,NaN,NaN,19,NaN,53
3,NaN,NaN,NaN,NaN,21198/zz001q0dx5,"Englund, Robert K.",NaN,CDLI,26x23x23; Lú A 9-10.?.?; Fundstelle wie W 9123...,NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,23,NaN,23
4,NaN,NaN,NaN,NaN,21198/zz001q0dzp,"Englund, Robert K.",NaN,CDLI,"29x36x20; Lú A Vorläufer; Qa XVI,2, unter der ...",NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,20,NaN,36

In [3]:
# Load Akkadian signs csv
ak_signs = pd.read_csv('old-akkadian-signs.csv')
ak_signs

            a
0           A
1          a2
2          A2
3          a3
4          a'
..        ...
588    8(asz)
589    9(asz)
590  1(asz@t)
591  2(asz@t)
592   3(ban2)

[593 rows x 1 columns]

In [4]:
# Load Akkadian words csv
ak_words = pd.read_csv('old-akkadian-words.csv')
ak_words

                  a
0       a-1/2(disz)
1       a-2/3(disz)
2         a-1(disz)
3          a-2(asz)
4         a-2(disz)
...             ...
17986    8(disz)-mu
17987  8(disz)-sze3
17988  8(disz).sze3
17989       9(disz)
17990  9(disz)-sze3

[17991 rows x 1 columns]

In [5]:
# Load ur3 sign
ur_sign = pd.read_csv('ur3-signs.csv', error_bad_lines= False)
ur_sign

/Users/lorenzo/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 45: expected 2 fields, saw 3\nSkipping line 63: expected 2 fields, saw 3\nSkipping line 91: expected 2 fields, saw 3\nSkipping line 186: expected 2 fields, saw 3\nSkipping line 299: expected 2 fields, saw 3\nSkipping line 314: expected 2 fields, saw 3\nSkipping line 327: expected 2 fields, saw 3\nSkipping line 330: expected 2 fields, saw 3\nSkipping line 377: expected 2 fields, saw 3\nSkipping line 589: expected 2 fields, saw 3\nSkipping line 620: expected 2 fields, saw 3\nSkipping line 682: expected 2 fields, saw 3\nSkipping line 791: expected 2 fields, saw 3\nSkipping line 1109: expected 2 fields, saw 3\nSkipping line 1148: expected 2 fields, saw 3\nSkipping line 1149: expected 2 fields, saw 3\nSkipping line 1269: expected 2 fields, saw 3\nSkipping line 1288: expected 2 fields, saw 3\nSkipping line 1593: expected 2 fields, saw 3\nSkipping line 1596: expected 2 fields, saw 3\nSkipping line 1604: expected 2 fields, saw 3\nSkipping line 1626: expected 2 fields, saw 3\nSkipping line 1632: expected 2 fields, saw 3\nSkipping line 1808: expected 2 fields, saw 3\nSkipping line 1827: expected 2 fields, saw 3\nSkipping line 1828: expected 2 fields, saw 3\nSkipping line 1836: expected 2 fields, saw 3\nSkipping line 1837: expected 2 fields, saw 3\nSkipping line 1841: expected 2 fields, saw 3\nSkipping line 1847: expected 2 fields, saw 3\nSkipping line 1848: expected 2 fields, saw 3\n'

             A       a
0            A   duru5
1            A      ix
2            A   szegx
3       |A.AM|  ildag2
4       |A.AN|     am3
...        ...     ...
1814      ZUEN    suen
1815       ZUM    rig2
1816       ZUM     zum
1817  |ZUM.SI|  garigx
1818      ZUM2  garig2

[1819 rows x 2 columns]

In [6]:
# Load ur_words
ur_words = pd.read_csv('ur3-words.csv')
ur_words

                     a
0                    A
1                ...-a
2            ...-a-...
3                a-...
4              a-...-a
...                ...
62688    9(gesz2)-sze3
62689       9(gesz2@c)
62690         9(szar2)
62691       9(szargal)
62692  9(szargal){gal}

[62693 rows x 1 columns]

In [7]:
# Catalogue info
catalogue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322717 entries, 0 to 322716
Data columns (total 63 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accession_no              63516 non-null   object
 1   accounting_period         3846 non-null    object
 2   acquisition_history       21664 non-null   object
 3   alternative_years         1819 non-null    object
 4   ark_number                284304 non-null  object
 5   atf_source                104976 non-null  object
 6   atf_up                    4645 non-null    object
 7   author                    308768 non-null  object
 8   author_remarks            15374 non-null   object
 9   cdli_collation            3391 non-null    object
 10  cdli_comments             12603 non-null   object
 11  citation                  12287 non-null   object
 12  collection                313282 non-null  object
 13  composite                 27069 non-null   object
 14  condition_description     18991 non-null   object
 15  date_entered              305097 non-null  object
 16  date_of_origin            123340 non-null  object
 17  date_remarks              10753 non-null   object
 18  date_updated              322717 non-null  object
 19  dates_referenced          123348 non-null  object
 20  db_source                 322105 non-null  object
 21  designation               322717 non-null  object
 22  dumb                      356 non-null     object
 23  dumb2                     5551 non-null    object
 24  electronic_publication    453 non-null     object
 25  elevation                 49 non-null      object
 26  excavation_no             39325 non-null   object
 27  external_id               94076 non-null   object
 28  findspot_remarks          6852 non-null    object
 29  findspot_square           13072 non-null   object
 30  genre                     248727 non-null  object
 31  google_earth_collection   34347 non-null   object
 32  google_earth_provenience  0 non-null       float64
 33  height                    181029 non-null  object
 34  id                        322717 non-null  int64
 35  id_text2                  322717 non-null  int64
 36  id_text                   322717 non-null  int64
 37  join_information          7347 non-null    object
 38  language                  230139 non-null  object
 39  lineart_up                82971 non-null   object
 40  material                  313211 non-null  object
 41  museum_no                 313404 non-null  object
 42  object_preservation       21286 non-null   object
 43  object_type               314290 non-null  object
 44  period                    296581 non-null  object
 45  period_remarks            4478 non-null    object
 46  photo_up                  103435 non-null  object
 47  primary_publication       322708 non-null  object
 48  provenience               261464 non-null  object
 49  provenience_remarks       4172 non-null    object
 50  publication_date          308115 non-null  object
 51  publication_history       68453 non-null   object
 52  published_collation       4364 non-null    object
 53  seal_id                   47707 non-null   object
 54  seal_information          8010 non-null    object
 55  stratigraphic_level       130 non-null     object
 56  subgenre                  62626 non-null   object
 57  subgenre_remarks          51455 non-null   object
 58  surface_preservation      7385 non-null    object
 59  text_remarks              11910 non-null   object
 60  thickness                 176088 non-null  object
 61  translation_source        3826 non-null    object
 62  width                     180909 non-null  object
dtypes: float64(1), int64(3), object(59)
memory usage: 155.1+ MB

In [8]:
# Drop columns with large NA
short_catalogue = catalogue.drop(['accession_no', 'accounting_period', 'acquisition_history', 'alternative_years', 'atf_source', 'atf_up', 'author',
                                 'electronic_publication', 'date_entered', 'primary_publication', 'publication_date', 'publication_history', 'published_collation',
                                 'date_remarks', 'date_updated', 'photo_up', 'google_earth_provenience', 'google_earth_collection','citation', 'collection',
                                 'cdli_collation', 'cdli_comments', 'stratigraphic_level', 'dumb', 'dumb2', 'elevation', 'translation_source', 'date_of_origin', 'dates_referenced',
                                 'findspot_remarks', 'join_information', 'findspot_square', 'composite', ], axis= 1)
short_catalogue.head()

,ark_number,author_remarks,condition_description,db_source,designation,excavation_no,external_id,genre,height,id,...,provenience,provenience_remarks,seal_id,seal_information,subgenre,subgenre_remarks,surface_preservation,text_remarks,thickness,width
0,21198/zz001q0dtm,"31x61x18; Lú A 14-16.30-32.48-50; M XVIII, auf...",NaN,20011204 protocuneiform_catalogue,"CDLI Lexical 000002, ex. 065","W 06435,a",NaN,Lexical,31,814301381,...,Uruk (mod. Warka),NaN,,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,18,61
1,21198/zz001q0dv4,30x48x13; Lú A 13-15.23-25.?; Fundstelle wie W...,NaN,20011204 protocuneiform_catalogue,"CDLI Lexical 000002, ex. 066","W 06435,b",NaN,Lexical,30,814301382,...,Uruk (mod. Warka),NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,13,48
2,21198/zz001q0dwn,"42x53x19; Vocabulary 9; Qa XVI,2, unter der Ab...",NaN,20011204 protocuneiform_catalogue,"ATU 3, pl. 081, W 9123,d","W 09123,d",NaN,Lexical,42,814301383,...,Uruk (mod. Warka),NaN,NaN,NaN,witness Archaic Vocabulary,Text category: 15-09; Foreign ID: LVO 9,NaN,NaN,19,53
3,21198/zz001q0dx5,26x23x23; Lú A 9-10.?.?; Fundstelle wie W 9123...,NaN,20011204 protocuneiform_catalogue,"CDLI Lexical 000002, ex. 051","W 09169,d",NaN,Lexical,26,814301384,...,Uruk (mod. Warka),NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,23,23
4,21198/zz001q0dzp,"29x36x20; Lú A Vorläufer; Qa XVI,2, unter der ...",NaN,20011204 protocuneiform_catalogue,"CDLI Lexical 000002, ex. 172","W 09206,k",NaN,Lexical,29,814301385,...,Uruk (mod. Warka),NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,20,36

In [9]:
# Location where found
provenience_counts = catalogue['provenience'].value_counts()
provenience_counts

Girsu (mod. Tello)                     33865
Umma (mod. Tell Jokha)                 32697
Nippur (mod. Nuffar)                   26557
Nineveh (mod. Kuyunjik)                25338
uncertain (mod. uncertain)             18821
                                       ...
uncertain (mod. northern Babylonia)        1
uncertain (mod. Tell Atshana)              1
Kazallu (mod. uncertain) ?                 1
Ecbatana (mod. uncertain)                  1
Alalakh (mod. Tell Atchana)                1
Name: provenience, Length: 382, dtype: int64

In [10]:
# Remarks
catalogue['provenience_remarks'].value_counts()

Selim                                          436
"Textes administratifs de la salle 5"          300
antiquities market                             288
"Textes administratifs de la salle 110"        279
Ezida                                          232
                                              ...
Ibzaikh ?                                        1
Maeda ASJ 17, 155                                1
Tell Ingharra                                    1
Girsu according to Veldhuis, Fs Sigrist 226      1
Irisagrig (mod. uncertain) ?                     1
Name: provenience_remarks, Length: 454, dtype: int64

In [11]:
# When found
catalogue['date_of_origin'].value_counts()

00.00.00.00                6897
--.--.00.00                3756
Gudea.00.00.00             3050
--.--.--.--                2049
Assurnasirpal2.00.00.00    1332
                           ...
Amar-Suen.01.10.06            1
Shulgi.48.07.08               1
Shu-Suen.05.02.03             1
Rimsin (Larsa).48.04.--       1
--.--.10.07                   1
Name: date_of_origin, Length: 25984, dtype: int64

In [12]:
# Time period
catalogue['period'].value_counts()

Ur III (ca. 2100-2000 BC)                                             102998
Old Babylonian (ca. 1900-1600 BC)                                      52485
Neo-Assyrian (ca. 911-612 BC)                                          33268
Middle Hittite (ca. 1500-1100 BC)                                      14675
Neo-Babylonian (ca. 626-539 BC)                                        13272
                                                                       ...
Middle Assyrian; note the string-hole                                      1
copy (modern)                                                              1
Old Akkadian (ca. 2340-2200 BC); Middle Elamite (ca. 1300-1000 BC)         1
ED IIIa (ca. 2600-2500 BC), Old Babylonian (ca. 1900-1600 BC)              1
Ebla (ca. 2350-2250 BC) ?                                                  1
Name: period, Length: 68, dtype: int64

In [13]:
# Context
catalogue['stratigraphic_level'].value_counts()

II                                                                  29
18 1-2                                                              22
3                                                                   19
2                                                                    8
17B2                                                                 6
18 3                                                                 5
17A                                                                  4
16C                                                                  4
17A-16 (contact)                                                     3
15A                                                                  3
XIIA                                                                 3
Nabu temple                                                          2
16                                                                   2
15B                                                                  2
14B                                                                  2
17B                                                                  2
(no context)                                                         1
XII A                                                                1
Level III 1                                                          1
c.10m below surface under the rooms of T. on the S.E. side of Z.     1
Ingharra YW 0.50 m                                                   1
XVIIIB                                                               1
IIIB                                                                 1
North-west Palace, Room FF                                           1
XIIB                                                                 1
IVb                                                                  1
west, palast A, raum Q, Skelettgrube                                 1
II96                                                                 1
16-15B (contact)                                                     1
18 4 ?                                                               1
Name: stratigraphic_level, dtype: int64

In [22]:
# Found by who
found_by = catalogue['atf_source'].value_counts()
found_by, found_by.count()

(cdli staff                                                     34454
 no atf                                                          8806
 Englund, Robert K.                                              6570
 Sigrist, Marcel                                                 5970
 Foxvog, Daniel A.                                               5115
                                                                ...
 al-Rawi, Farouk N. H.; Gorello, Francesca; Notizia, Palmiro        1
 Notizia, Palmiro; Verderame, Lorenzo                               1
 Geller, Markham J.                                                 1
 Washburn, Jody E.                                                  1
 Lauinger, Jacob (Oracc)                                            1
 Name: atf_source, Length: 213, dtype: int64,
 213)

In [37]:
# Most common material
material = catalogue['material'].value_counts()
material.head(10)

clay                   294130
stone                    7250
stone ?                  5338
composite                3000
stone: limestone          968
metal: bronze             246
stone: alabaster          209
stone: lapis lazuli       202
stone: calcite            198
bone: ivory ?             186
Name: material, dtype: int64

In [32]:
# Just clay
clay = catalogue[catalogue['material'] == 'clay']
clay

,accession_no,accounting_period,acquisition_history,alternative_years,ark_number,atf_source,atf_up,author,author_remarks,cdli_collation,...,seal_id,seal_information,stratigraphic_level,subgenre,subgenre_remarks,surface_preservation,text_remarks,thickness,translation_source,width
0,NaN,NaN,NaN,NaN,21198/zz001q0dtm,"Englund, Robert K.",NaN,CDLI,"31x61x18; Lú A 14-16.30-32.48-50; M XVIII, auf...",NaN,...,,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,18,NaN,61
1,NaN,NaN,NaN,NaN,21198/zz001q0dv4,"Englund, Robert K.",NaN,CDLI,30x48x13; Lú A 13-15.23-25.?; Fundstelle wie W...,NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,13,NaN,48
2,NaN,NaN,NaN,NaN,21198/zz001q0dwn,"Englund, Robert K.",NaN,"Englund, Robert K. & Nissen, Hans J.","42x53x19; Vocabulary 9; Qa XVI,2, unter der Ab...",NaN,...,NaN,NaN,NaN,witness Archaic Vocabulary,Text category: 15-09; Foreign ID: LVO 9,NaN,NaN,19,NaN,53
3,NaN,NaN,NaN,NaN,21198/zz001q0dx5,"Englund, Robert K.",NaN,CDLI,26x23x23; Lú A 9-10.?.?; Fundstelle wie W 9123...,NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,23,NaN,23
4,NaN,NaN,NaN,NaN,21198/zz001q0dzp,"Englund, Robert K.",NaN,CDLI,"29x36x20; Lú A Vorläufer; Qa XVI,2, unter der ...",NaN,...,NaN,NaN,NaN,Archaic Lu2 A (witness),NaN,NaN,NaN,20,NaN,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Monaco, Salvatore",Account of flour delivered to a number of func...,NaN,...,NaN,NaN,NaN,NaN,flour,NaN,NaN,NaN,NaN,67
322713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Widell, Magnus",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,38
322714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nn,NaN,NaN,...,NaN,NaN,NaN,Commentary on astrological omens,NaN,NaN,NaN,29,NaN,65
322715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nn,NaN,NaN,...,NaN,NaN,NaN,Commentary on hemerology,NaN,NaN,NaN,29,NaN,65
322716,NaN,NaN,NaN,NaN,NaN,"Englund, Robert K.",NaN,nn,NaN,NaN,...,S005110,NaN,NaN,NaN,NaN,NaN,NaN,?,NaN,?

In [35]:
# Clay by period
clay['period'].value_counts()

Ur III (ca. 2100-2000 BC)                                         96617
Old Babylonian (ca. 1900-1600 BC)                                 49628
Neo-Assyrian (ca. 911-612 BC)                                     30055
Middle Hittite (ca. 1500-1100 BC)                                 14675
Neo-Babylonian (ca. 626-539 BC)                                   11667
Middle Babylonian (ca. 1400-1100 BC)                              11076
Old Akkadian (ca. 2340-2200 BC)                                    8457
Ebla (ca. 2350-2250 BC)                                            7101
Old Assyrian (ca. 1950-1850 BC)                                    6040
Early Old Babylonian (ca. 2000-1900 BC)                            6023
Uruk III (ca. 3200-3000 BC)                                        4396
Achaemenid (547-331 BC)                                            4383
Lagash II (ca. 2200-2100 BC)                                       3872
Middle Assyrian (ca. 1400-1000 BC)                                 3530
ED IIIb (ca. 2500-2340 BC)                                         3519
Hellenistic (323-63 BC)                                            3146
Uruk IV (ca. 3350-3200 BC)                                         1817
Proto-Elamite (ca. 3100-2900 BC)                                   1637
ED IIIa (ca. 2600-2500 BC)                                         1625
uncertain                                                          1221
Neo-Babylonian (ca. 626-539 BC) ?                                  1199
Neo-Elamite (ca. 770-539 BC)                                        729
ED I-II (ca. 2900-2700 BC)                                          668
Old Babylonian (ca. 1900-1600 BC) ?                                 552
ED IIIb (ca. 2500-2340 BC) ?                                        491
Ur III (ca. 2100-2000 BC) ?                                         287
Middle Elamite (ca. 1300-1000 BC)                                   240
Uruk V (ca. 3500-3350 BC) ?                                         222
Achaemenid (547-331 BC) ?                                           208
Middle Babylonian (ca. 1400-1100 BC) ?                              206
Old Akkadian (ca. 2340-2200 BC) ?                                   197
Uruk V (ca. 3500-3350 BC)                                           191
Neo-Assyrian (ca. 911-612 BC) ?                                     174
Old Assyrian (ca. 1950-1850 BC) ?                                   160
Pre-Writing (ca. 8500-3500 BC)                                      158
fake (modern)                                                        70
fake (modern) ?                                                      60
Uruk III (ca. 3200-3000 BC) ?                                        55
Pre-Writing (ca. 8500-3500 BC) ?                                     53
not yet assigned                                                     50
Early Old Babylonian (ca. 2000-1900 BC) ?                            31
ED IIIa (ca. 2600-2500 BC) ?                                         23
Lagash II (ca. 2200-2100 BC) ?                                       16
Linear Elamite (ca. 2200 BC)                                         14
Uruk IV (ca. 3350-3200 BC) ?                                         13
ED I-II (ca. 2900-2700 BC) - Old Babylonian (ca. 1900-1600 BC)       13
Sassanian (224-641 AD)                                               13
Middle Assyrian (ca. 1400-1000 BC) ?                                 11
Hellenistic (323-63 BC) ?                                             7
ED I-II (ca. 2900-2700 BC) ?                                          6
Parthian (247 BC - 224 AD)                                            5
Linear Elamite (ca. 2200 BC) ?                                        5
Neo-Babylonian (ca. 626-539 BC)  ?                                    4
Old Akkadian (ca. 2340-2200 BC); Ur III (ca. 2100-2000 BC)            3
Old Elamite                                                           3
Middle Assyrian; note the string-hole                                 1
copy (modern)                                                         1
Ebla (ca. 2350-2250 BC) ?                                             1
Name: period, dtype: int64

In [34]:
# Stone
stone = catalogue[catalogue['material'] == 'stone']
stone

,accession_no,accounting_period,acquisition_history,alternative_years,ark_number,atf_source,atf_up,author,author_remarks,cdli_collation,...,seal_id,seal_information,stratigraphic_level,subgenre,subgenre_remarks,surface_preservation,text_remarks,thickness,translation_source,width
5635,NaN,NaN,NaN,NaN,21198/zz001r2gpt,"Englund, Robert K.",NaN,"Green, Margaret W.",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,?,NaN,52
5650,not in metonline ?,NaN,NaN,NaN,21198/zz001r2jvc,"Englund, Robert K.",NaN,"Gelb, Ignace J., Steinkeller, Piotr & Whiting,...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,98
5651,NaN,NaN,"Brummer, 1941",NaN,21198/zz001r2jww,"Englund, Robert K.",NaN,"Gelb, Ignace J., Steinkeller, Piotr & Whiting,...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,66
5652,NaN,NaN,NaN,NaN,21198/zz001r2jxd,"Englund, Robert K.",NaN,"Gelb, Ignace J., Steinkeller, Piotr & Whiting,...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,74
5654,NaN,NaN,NaN,NaN,21198/zz001r2k0x,"Englund, Robert K.",NaN,"Gelb, Ignace J., Steinkeller, Piotr & Whiting,...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nies, James B.",NaN,NaN,...,NaN,NaN,NaN,weight,NaN,NaN,NaN,?,NaN,NaN
321537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nies, James B.",NaN,NaN,...,NaN,NaN,NaN,amulette,NaN,NaN,NaN,?,NaN,NaN
321717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,S012124,NaN,NaN,cylinder seal (physical),NaN,NaN,NaN,NaN,NaN,NaN
322585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Frayne, Douglas R.",NaN,NaN,...,NaN,NaN,NaN,witness,NaN,NaN,NaN,NaN,NaN,NaN
322705,"1880-12-16, 0047",NaN,NaN,NaN,NaN,NaN,NaN,nn,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Stone by period
stone['period'].value_counts()

Old Babylonian (ca. 1900-1600 BC)          1608
Neo-Assyrian (ca. 911-612 BC)              1376
Old Akkadian (ca. 2340-2200 BC)             618
Ur III (ca. 2100-2000 BC)                   460
Uruk III (ca. 3200-3000 BC)                 400
ED I-II (ca. 2900-2700 BC)                  350
Neo-Babylonian (ca. 626-539 BC)             294
ED IIIb (ca. 2500-2340 BC)                  269
Middle Assyrian (ca. 1400-1000 BC)          251
ED IIIa (ca. 2600-2500 BC)                  205
Lagash II (ca. 2200-2100 BC)                135
Middle Babylonian (ca. 1400-1100 BC)        126
Old Assyrian (ca. 1950-1850 BC)             126
Early Old Babylonian (ca. 2000-1900 BC)      91
Achaemenid (547-331 BC)                      82
uncertain                                    14
Uruk IV (ca. 3350-3200 BC)                   13
Parthian (247 BC - 224 AD)                    8
Old Babylonian (ca. 1900-1600 BC) ?           7
Neo-Elamite (ca. 770-539 BC)                  7
Pre-Writing (ca. 8500-3500 BC)                6
fake (modern)                                 5
Ur III (ca. 2100-2000 BC) ?                   5
Middle Babylonian (ca. 1400-1100 BC) ?        4
Linear Elamite (ca. 2200 BC)                  4
Middle Elamite (ca. 1300-1000 BC)             3
ED IIIb (ca. 2500-2340 BC) ?                  3
Egyptian 0 (ca. 3300-3000 BC)                 2
ED I-II (ca. 2900-2700 BC) ?                  2
ED IIIa (ca. 2600-2500 BC) ?                  1
Harappan (ca. 2200-1900 BC)                   1
Neo-Babylonian (ca. 626-539 BC) ?             1
Sassanian (224-641 AD)                        1
Old Assyrian (ca. 1950-1850 BC) ?             1
not yet assigned                              1
Middle Assyrian (ca. 1400-1000 BC) ?          1
Lagash II (ca. 2200-2100 BC) ?                1
Name: period, dtype: int64

In [40]:
# Metal
metal = catalogue[catalogue['material'] == 'metal']
metal

,accession_no,accounting_period,acquisition_history,alternative_years,ark_number,atf_source,atf_up,author,author_remarks,cdli_collation,...,seal_id,seal_information,stratigraphic_level,subgenre,subgenre_remarks,surface_preservation,text_remarks,thickness,translation_source,width
67639,NaN,NaN,NaN,NaN,21198/zz001thj1m,"Foxvog, Daniel A.",NaN,"Frayne, Douglas R.",NaN,NaN,...,NaN,NaN,NaN,witness,NaN,NaN,NaN,?,NaN,?
71221,NaN,NaN,NaN,NaN,21198/zz001r4z5q,cdli staff,NaN,"Frayne, Douglas R.",NaN,NaN,...,NaN,NaN,NaN,witness,votive inscription,NaN,rime1 ex,?,NaN,?
73873,NaN,NaN,NaN,NaN,21198/zz001qdf65,"Foxvog, Daniel A.",NaN,"Frayne, Douglas R.",NaN,NaN,...,NaN,NaN,NaN,witness,NaN,NaN,NaN,?,NaN,?
75511,NaN,NaN,NaN,NaN,21198/zz001r69w9,cdli staff,NaN,"Frayne, Douglas R.",NaN,NaN,...,NaN,NaN,NaN,witness,NaN,NaN,NaN,?,NaN,?
101871,NaN,NaN,NaN,NaN,21198/zz001tjm74,"Englund, Robert K.",NaN,nn,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,?,NaN,?
223391,NaN,NaN,NaN,NaN,21198/zz0022qrfp,NaN,NaN,nn,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,?,NaN,?
223423,NaN,NaN,NaN,NaN,21198/zz0022s65q,NaN,NaN,nn,NaN,NaN,...,NaN,NaN,NaN,witness,NaN,--,NaN,?,NaN,?
223436,NaN,NaN,NaN,NaN,21198/zz0020pgqp,NaN,NaN,nn,NaN,NaN,...,NaN,NaN,NaN,witness,NaN,NaN,NaN,NaN,NaN,105
258255,NaN,NaN,was: www christie's 008,NaN,21198/zz002bgnr2,"Owen, David I.",NaN,nn,NaN,NaN,...,NaN,NaN,NaN,witness,NaN,NaN,NaN,NaN,NaN,NaN
298565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Grayson, A. Kirk",NaN,NaN,...,NaN,NaN,NaN,witness,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
# Metal by period
metal['period'].value_counts()

Old Akkadian (ca. 2340-2200 BC)            1
ED IIIb (ca. 2500-2340 BC)                 1
Early Old Babylonian (ca. 2000-1900 BC)    1
Ur III (ca. 2100-2000 BC)                  1
Ur III (ca. 2100-2000 BC) ?                1
Linear Elamite (ca. 2200 BC)               1
Old Akkadian (ca. 2340-2200 BC) ?          1
Middle Assyrian (ca. 1400-1000 BC)         1
Name: period, dtype: int64